services:
  mysql:
    image: "mysql:8.0"
    container_name: mysql-db
    restart: always
    environment:
      - "MYSQL_DATABASE=companydb"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_ROOT_PASSWORD=verysecret"
      - "MYSQL_USER=myuser"
    ports:
      - "3306:3306"
    networks:
      - net
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-pverysecret",
        ]
      interval: 2s
      timeout: 5s
      retries: 15
      start_period: 15s

  api:
    build: ./backend/employee-dashboard-api
    container_name: employee-dashboard-api
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/companydb
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=secret
    networks:
      - net

  app:
    build: ./frontend/ts-employee-dashboard
    container_name: employee-dashboard-frontend
    restart: always
    depends_on:
      - api
    ports:
      - "3000:80"
    networks:
      - net

networks:
  net:
    driver: bridge
